.about_banner {
  background-image: url("../images/overlay.png"),
    linear-gradient(45deg, rgba(22, 244, 207, 0.5), rgba(101, 50, 229, 0.55)), url("../images/working.jpg");
  background-position: center center;
  background-size: auto, cover, cover;
  background-attachment: fixed, fixed, fixed;
  background-repeat: repeat, no-repeat, no-repeat;
  position: relative;
  min-height: 100vh;
}
body.is-mobile .about_banner {
  background-attachment: scroll;
}

.about_content {
  background-color: rgba(255, 255, 255, 0.55);
  background-color: rgba(21, 27, 33, 0.5);
  position: absolute;
  top: 5em;
  width: 100%;
  height: calc(100vh - 5em);
  padding: 8em 16em;
  text-align: center;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statement {
  padding: 4em 0 4em 0;
}

.about_heading {
  color: white;
  font-size: 3rem;
}
.about_text {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.8em;
  color: white;
}
.about_text b {
  color: white;
}

.about_banner .about_content .button {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #ffffff;
  color: #ffffff !important;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0 1em;
  font-size: 0.8em;
  font-weight: 700;
  height: 3.25em;
  line-height: 3.35em;
  padding: 0 2em;
}

.about_banner .about_content input[type="submit"]:hover,
.about_banner .about_content input[type="reset"]:hover,
.about_banner .about_content input[type="button"]:hover,
.about_banner .about_content button:hover,
.about_banner .about_content .button:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.about_banner .about_content input[type="submit"]:active,
.about_banner .about_content input[type="reset"]:active,
.about_banner .about_content input[type="button"]:active,
.about_banner .about_content button:active,
.about_banner .about_content .button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.about_banner .about_content input[type="submit"].icon:before,
.about_banner .about_content input[type="reset"].icon:before,
.about_banner .about_content input[type="button"].icon:before,
.about_banner .about_content button.icon:before,
.about_banner .about_content .button.icon:before {
  color: #ffffff;
}

.about_banner .about_content input[type="submit"].primary,
.about_banner .about_content input[type="reset"].primary,
.about_banner .about_content input[type="button"].primary,
.about_banner .about_content button.primary,
.about_banner .about_content .button.primary {
  box-shadow: none;
  background-color: #ffffff;
  color: rgba(21, 27, 33, 0.6) !important;
}

.about_banner .about_content input[type="submit"].primary.icon:before,
.about_banner .about_content input[type="reset"].primary.icon:before,
.about_banner .about_content input[type="button"].primary.icon:before,
.about_banner .about_content button.primary.icon:before,
.about_banner .about_content .button.primary.icon:before {
  color: #ffffff;
}

.huge {
  font-size: 1.1em  !important;
  height: 4em !important;
  line-height: 4.1em !important;

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@media screen and (max-width: 1455px) {
  .about_heading {
    font-size: 2rem;
  }
  .about_text {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 1307px) {
  .about_content {
    height: calc(100vh - 5em);
    padding: 4em 2em;
  }
}

@media screen and (max-width: 980px) and (orientation: landscape) {
  .about_banner {
    height: 30em;
    min-height: calc(100vh - 3em);
  }
  .about_content {
    height: calc(100vh - 3em);
    top: 0em;
    padding: 4em 2em;
  }
}

@media screen and (max-width: 980px) and (orientation: portrait) {
  .about_banner {
    height: 50em;
    min-height: calc(100vh - 3em);
  }
  .about_content {
    height: calc(100vh - 3em);
    top: 0em;
    padding: 4em 2em;
  }
}

@media screen and (max-width: 736px) and (orientation: landscape) {
  .about_banner {
    height: 25em;
  }
}

@media screen and (max-width: 736px) and (orientation: portrait) {
  .about_banner {
    height: 30em;
  }
}

@media screen and (max-height: 1485px) {
  .statement {
    padding: 2em 0 2em 0;
  }

  .about_heading {
    font-size: 3rem;
  }
  .about_text {
    font-size: 1.5rem;
  }

  .about_content ul {
    margin-top: 1em;
  }
}

@media screen and (max-height: 1250px) {
  .statement {
    padding: 1em 0 1em 0;
  }

  .about_heading {
    font-size: 2.5rem;
  }
  .about_text {
    font-size: 1.25rem;
  }
}

@media screen and (max-height: 1100px) {
  .statement {
    padding: 0.5em 0;
  }

  .about_heading {
    font-size: 2rem;
  }
  .about_text {
    font-size: 1rem;
  }
}

@media screen and (max-height: 900px) {
  .statement {
    padding: 0;
  }

  .about_heading {
    font-size: 2rem;
  }
  .about_text {
    font-size: 1rem;
  }
}