/* Banner */

.banner {
  background-image: url("../images/overlay.png"),
    -moz-linear-gradient(45deg, rgba(22, 244, 207, 0.65), rgba(101, 50, 229, 0.65)), url("../images/handshake.webp");
  background-image: url("../images/overlay.png"),
    -webkit-linear-gradient(45deg, rgba(22, 244, 207, 0.65), rgba(101, 50, 229, 0.65)), url("../images/handshake.webp");
  background-image: url("../images/overlay.png"),
    -ms-linear-gradient(45deg, rgba(22, 244, 207, 0.65), rgba(101, 50, 229, 0.65)), url("../images/handshake.webp");
  background-image: url("../images/overlay.png"),
    linear-gradient(45deg, rgba(22, 244, 207, 0.65), rgba(101, 50, 229, 0.65)), url("../images/handshake.webp");
  background-position: center center;
  background-size: auto, cover, cover;
  background-attachment: fixed, fixed, fixed;
  background-repeat: repeat, no-repeat, no-repeat;
  position: relative;
  min-height: 82vh;
  height: 50em;
}

.banner .content {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(21, 27, 33, 0.6);
  color: white;
  padding: 8em 0 8em 0; 
  width: 100%;
}

.banner .content input,
.banner .content select,
.banner .content textarea,
.banner .content a,
.banner .content strong,
.banner .content b,
.banner .content h1,
.banner .content h2,
.banner .content h3,
.banner .content h4,
.banner .content h5,
.banner .content h6 {
  color: white;
}

.banner .content hr {
  border-bottom-color: #ffffff;
}

.banner .content .button {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #ffffff;
  color: #ffffff !important;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0 1em;
  font-size: 0.8em;
  font-weight: 700;
  height: 3.25em;
  line-height: 3.35em;
  padding: 0 2em;
}

.banner .content input[type="submit"]:hover,
.banner .content input[type="reset"]:hover,
.banner .content input[type="button"]:hover,
.banner .content button:hover,
.banner .content .button:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.banner .content input[type="submit"]:active,
.banner .content input[type="reset"]:active,
.banner .content input[type="button"]:active,
.banner .content button:active,
.banner .content .button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.banner .content input[type="submit"].icon:before,
.banner .content input[type="reset"].icon:before,
.banner .content input[type="button"].icon:before,
.banner .content button.icon:before,
.banner .content .button.icon:before {
  color: #ffffff;
}

.banner .content input[type="submit"].primary,
.banner .content input[type="reset"].primary,
.banner .content input[type="button"].primary,
.banner .content button.primary,
.banner .content .button.primary {
  box-shadow: none;
  background-color: #ffffff;
  color: rgba(21, 27, 33, 0.6) !important;
}

.banner .content input[type="submit"].primary.icon:before,
.banner .content input[type="reset"].primary.icon:before,
.banner .content input[type="button"].primary.icon:before,
.banner .content button.primary.icon:before,
.banner .content .button.primary.icon:before {
  color: #ffffff;
}

.banner .content header p {
  color: #ffffff;
}

.banner .content header.major:after {
  background-color: #ffffff;
}

.banner .content > .inner {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0 auto;
  width: 70em;
  justify-content: center;
}

.banner .content > .inner header {
  width: 75%;
}

.banner .content > .inner .actions {
  padding-left: 3em;
  text-align: right;
}

header p {
  position: relative;
  margin: 0 0 1.5em 0;
}

header h2 + p {
  font-size: 1.25em;
  margin-top: -0.7em;
  line-height: 1.5em;
}

header p {
  color: #7e8895;
}

body.is-mobile .banner {
  background-attachment: scroll;
}

@media screen and (max-width: 736px) {
  header p {
    font-size: 1em !important;
  }

  header.major {
    margin: 0 0 2em 0;
  }
}

@media screen and (max-width: 1280px) {
  .banner {
    min-height: 0;
  }

  .banner .content {
    padding: 4em 3em 2em 3em;
  }

  .banner .content > .inner {
    width: 100%;
  }
}

@media screen and (max-width: 980px) and (orientation: landscape) {
  .banner {
    height: 30em;
  }
}

@media screen and (max-width: 980px) and (orientation: portrait) {
  .banner {
    height: 50em;
  }
}

@media screen and (max-width: 980px) {
  .banner .content > .inner {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .banner .content > .inner header {
    width: 100%;
  }

  .banner .content > .inner .actions {
    width: 100%;
    padding-left: 0;
    text-align: left;
  }
}

@media screen and (max-width: 736px) and (orientation: landscape) {
  .banner {
    height: 25em;
  }
}

@media screen and (max-width: 736px) and (orientation: portrait) {
  .banner {
    height: 30em;
  }
}

@media screen and (max-width: 736px) {
  .banner .content {
    padding: 2.5em 2em 0.5em 2em;
  }
}

@media screen and (max-width: 480px) {
  .banner .content {
    padding: 2.5em 1.5em 0.5em 1.5em;
  }
}

.huge {
  font-size: 1.1em  !important;
  height: 4em !important;
  line-height: 4.1em !important;

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

ul {
  display: flex;
  list-style: none;
  text-align: right;
  margin: 0 0 2em 0;
  border: 0;
  justify-content: center;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.bannerButtons {
  margin-top: 1em;
}