.topbar_header {
	background: #2f373f;
	color: white;
	height: 3.5em;
	left: 0;
	line-height: 3.5em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}

.topbar_header_alt {
	background: #2f373f !important;
}

.topbar_header a {
	color: inherit;
	text-decoration: none;
}

.topbar_header h1 {
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	height: inherit;
	line-height: inherit;
	margin-left: 1.5em;
}

.topbar_header nav {
	height: inherit;
	line-height: inherit;
	margin-right: 1.5em;
	position: absolute;
	right: 0;
	top: 0;
}

.topbar_header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.topbar_header nav ul li {
	display: inline-block;
	margin-left: 1.5em;
}

.topbar_header nav ul li a {
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: 0.9em;
}

.topbar_header nav ul li a.submenu {
	text-decoration: none;
}

.topbar_header nav ul li a.submenu:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	text-transform: none !important;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

.topbar_header nav ul li a.submenu:before {
	content: "\f107";
	margin-right: 0.75em;
}

.topbar_header nav ul li > ul {
	display: none;
}

.topbar_header nav ul li:first-child {
	margin-left: 0;
}

.topbar_header {
	-moz-animation: none;
	-webkit-animation: none;
	-ms-animation: none;
	animation: none;
	background: transparent;
	height: 5em;
	line-height: 5em;
	position: absolute;
}

.topbar_header h1 {
	margin-left: 2.5em;
}

.topbar_header nav {
	margin-right: 2.5em;
}

@media screen and (max-width: 980px) {
	body {
		padding-top: 3em;
	}

	.topbar_header {
		height: 3em;
		line-height: 2.95em;
	}

	.topbar_header h1:before {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 736px) {
	.topbar_header {
		height: 3em !important;
		line-height: 2.95em !important;
		background-color: #2f373f;
	}

	.topbar_header h1 {
		margin-left: 1.25em !important;
	}

	.topbar_header nav {
		display: none;
	}
}

.button {
	background-color: #f27c5e;
	/* box-shadow: inset 0 0 0 2px #ffffff; */
	color: #ffffff !important;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-size: 0.8em;
	font-weight: 700;
	height: 3.25em;
	line-height: 3.35em;
	padding: 0 2em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}